* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: rgb(35, 125, 125);
  font-size: 1.5rem;
}

body {
  background-color: rgb(236, 214, 186);
  font-family: "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.logo a {
  font-size: 40px;
  font-weight: 700;
  color: rgb(20, 220, 143);
  margin: 10px;
  text-transform: uppercase;
  text-decoration: none;
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  list-style: none;
  display: inline-block;
}

li a {
  color: white;
  text-decoration: none;
  margin: 10px;
}

footer {
  font-size: 20px;
  text-align: center;
  background-color: green;
  margin-top: auto;
}
