* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(218, 129, 129);
}

button {
  background-color: rgb(0, 0, 0);

  font-weight: bold;
  font-size: 15px;
  padding: 20px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  height: 100dvh;
}

.container button {
  display: flex;
  align-items: center;

  flex-shrink: 1;
  margin: 40px 20px;
}

.container a {
  text-decoration: none;
  color: rgb(56, 153, 232);
}
