* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(218, 129, 129);
}
.container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  height: 100dvh;
}

.container a {
  text-decoration: none;
  color: rgb(56, 153, 232);
}
