* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(218, 129, 129);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
