* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-green: #29882a;
  --black1: rgba(0, 0, 0, 0.79);
  --black2: rgb(55, 54, 54);
  --gray: gray;
  --gray2: rgb(241, 243, 244);
  --gray3: rgb(248, 245, 245);
  --white: white;
  --white2: #bfd2bf;
  --h1-size: 50px;
  --h1-height: 60px;
  --p-size: 12px;
  --p-height: 26px;
}
body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
}

.logo a {
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  color: var(--black1);
}

.logo-icon {
  font-size: 30px;
  color: var(--main-green);
}

li {
  font-size: 18px;
  font-weight: 500;
  list-style: none;
  display: inline-block;
  padding: 20px;
  cursor: pointer;
  color: var(--gray);
}

.register {
  background-color: var(--main-green);
  padding: 10px;
}

.register a {
  text-decoration: none;
  color: var(--white);
}

/* LESSON SECTION  */

.section1 {
  width: 95%;
  height: 70dvh;
  background-color: var(--gray2);
  border-radius: 0 12px 12px 0;
  position: relative;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 80px 135px;
}

h1 {
  font-size: var(--h1-size);
  height: var(--h1-height);
  color: var(--black1);
}

.simp {
  color: var(--main-green);
}

.word {
  font-size: var(--p-size);
  margin: 10px 0;
}

.btn {
  font-family: var(--p-size);
  background-color: var(--main-green);
  padding: 10px 20px;
  margin: 15px 0;
  display: block;
  border-radius: 4px;
  color: var(--white);
  border-style: none;
  cursor: pointer;
}

.dot {
  font-size: 50px;
  text-align: center;
  color: var(--main-green);
  position: absolute;
  bottom: 10px;
  right: 600px;
  cursor: pointer;
}

.dots {
  color: var(--white2);
  cursor: pointer;
}

/* CLIENT SECTION */

.section2 {
  text-align: center;
  margin: 20px;
}

.space {
  text-align: center;
  color: var(--gray);
  margin: 5px 430px;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

p {
  font-size: var(--p-size);
  color: var(--gray);
}

.position {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 40px 40px 80px;
}

.card {
  background-color: var(--white);
  padding: 10px;
  margin: 12px;
  border-radius: 12px;
  border: 1px solid var(--gray3);
}

.member-icon {
  text-align: center;
}

h3 {
  color: var(--black2);
  text-align: center;
  margin: 10px 120px;
}

h3 ~ p {
  font-size: var(--p-size);
  padding: 10px 80px 40px 80px;
}

/* SPENDING SECTION */

.spending {
  display: flex;
  margin: 5px 200px;
  padding: 0 20px 0 80px;
}

.unseen {
  margin: 0 100px;
  color: var(--black2);
}

.local {
  width: 255px;
  margin: 40px 0px 40px 80px;
}

.dedication {
  display: flex;
  background-color: var(--gray2);
  width: 95%;
  height: 40%;
  margin: 20px 0;
}

.items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 300px;
}

.group {
  color: var(--main-green);
}

img {
  border-radius: 12px;
  cursor: pointer;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-areas:
    "img word word"
    "img smith smith"
    "img custom custom"; */
  padding: 20px 120px;
  background-color: var(--gray2);
  width: 95%;
  height: 40dvh;
}

.right-grid {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.smith {
  color: var(--main-green);
  cursor: pointer;
}

.meet {
  font-size: 20px;
  font-weight: 700;
  color: var(--main-green);
  width: 250px;
}

/* MARKETING SECTION  */

.care {
  padding: 5px 300px;
}

.browse {
  display: flex;
  justify-content: center;
  height: 50dvh;
  cursor: pointer;
}

.browse img {
  margin: 0 10px;
  cursor: pointer;
}

.photo {
  position: relative;
  cursor: pointer;
}

.special-card {
  width: 220px;
  height: 120px;
  background-color: var(--gray3);
  padding: 20px 20px;
  position: absolute;
  border-radius: 12px;
  position: absolute;
  top: 2200px;
  margin: 0 48px;
  border: 2px solid var(--white);
  cursor: pointer;
}

.read {
  font-size: 15px;
  margin-top: 24px;
  text-align: center;
  color: var(--main-green);
}

.libero {
  text-align: center;
  padding: 10px 300px;
  color: var(--black2);
}

.btn1 {
  font-family: var(--p-size);
  background-color: var(--main-green);
  padding: 10px 20px;
  margin: 85px 500px;
  display: inline;
  border-radius: 4px;
  color: var(--white);
  border-style: none;
  cursor: pointer;
}

.under {
  background-color: var(--gray2);
  width: 95%;
  height: 35dvh;
}

/* FOOTER SECTION */

.social {
  display: flex;
  flex-direction: column;
}

.logos {
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  color: var(--black1);
  margin: 40px 20px;
}

.logos a {
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  color: var(--black1);
  margin: 40px 0px;
}

.copy {
  margin: 30px 0 5px 0;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  background-color: yellow;
}
