* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-green: #29882a;
  --black1: rgba(0, 0, 0, 0.79);
  --black2: rgb(55, 54, 54);
  --gray: gray;
  --gray2: rgb(241, 243, 244);
  --white: white;
  --white2: #bfd2bf;
  --h1-size: 50px;
  --h1-height: 60px;
  --p-size: 12px;
  --p-height: 26px;
}
body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
}

.logo a {
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  color: var(--black1);
}

.logo-icon {
  font-size: 30px;
  color: var(--main-green);
}

li {
  font-size: 18px;
  font-weight: 500;
  list-style: none;
  display: inline-block;
  padding: 20px;
  cursor: pointer;
}

.register {
  background-color: var(--main-green);
  padding: 10px;
}

.register a {
  text-decoration: none;
  color: white;
}

/* LESSON SECTION  */

.section1 {
  width: 95%;
  height: 70dvh;
  background-color: var(--gray2);
  border-radius: 0 12px 12px 0;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 80px 135px;
}

h1 {
  font-size: var(--h1-size);
  height: var(--h1-height);
  color: var(--black1);
}

.simp {
  color: var(--main-green);
}

.word {
  font-size: var(--p-size);
  margin: 10px 0;
}

.btn {
  background-color: var(--main-green);
  padding: 10px 20px;
  margin: 15px 0;
  display: block;
  border-radius: 4px;
  color: white;
  border-style: none;
}

.dot {
  font-size: 50px;
  text-align: center;
  color: var(--main-green);
  position: absolute;
  bottom: 10px;
  right: 600px;
}

.dots {
  color: var(--white2);
}

/* CLIENT SECTION */

.section2 {
  text-align: center;
  margin: 20px;
}

h2 {
  text-align: center;
  color: var(--gray);
  margin: 20px 430px;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

p {
  font-size: var(--p-size);
}

.position {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 40px 40px 80px;
}

.card {
  background-color: var(--white);
  padding: 10px;
  margin: 12px;
  border-radius: 12px;
  border: 1px solid var(--gray3);
}

.member-icon {
  text-align: center;
}

h3 {
  color: var(--gray);
  text-align: center;
  margin: 10px 120px;
}

h3 ~ p {
  font-size: var(--p-size);
  padding: 10px 80px 40px 80px;
}

/* SPENDING SECTION */

.spending {
  display: flex;
  margin: 5px 200px;
  padding: 0 20px 0 80px;
}

.unseen {
  margin: 0 100px;
}
